extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to show
  else 
    - let dogid = toShow._id 
    - let dog_type = toShow.dogType 
    - let dog_name = toShow.dogName
    - let price = toShow.price
    div 
      div.row 
        div(class='dogAttr mr-3') Dog ID is: 
        div #{dogid} 
      div.row 
        div(class='dogAttr mr-3') Dog Type is: 
        div #{dog_type} 
      div.row 
        div(class='dogAttr mr-3') Dog Name is: 
        div #{dog_name} 
      div.row 
        div(class='dogAttr mr-3') Dog Cost is: 
        div #{price} 