extends layout

block content
  h1= title
  - var items = results
  
    div(class = 'container-fluid')
      each item,index in items 
        div(class = 'row row-style')
          div(class="col-md-2", onClick=`buy(${index})`) DogName : #{item["dogName"]} 
          div(class="col-md-2", onClick=`buy(${index})`) DogType : #{item["dogType"]} 
          div(class="col-md-2", onClick=`buy(${index})`) Price: #{item["price"]}
           
  script.
   function buy(val) {
     alert(`You purchased item ${val}`)
   }      

          